<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djylrz.xzpt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.FocusCompanyActivity"></activity>
        <activity android:name=".Activity.NewResumeActivity" />
        <activity android:name=".Activity.MyResumeActivity" />
        <activity android:name=".Activity.FeedbackAndSuggestion" />
        <activity android:name=".Activity.MyFeedback" />
        <activity android:name=".Activity.HelpAndFeedbackActivity" />
        <activity android:name=".Activity.UserInfoOptionActivity" />
        <activity android:name=".Activity.StudentLogin" />
        <activity android:name=".Activity.Register" />
        <activity android:name=".Activity.PersonalInformation" />
        <activity android:name=".Activity.JobIntention" />
        <activity android:name=".Activity.CompanyLogin" />
        <activity android:name=".Activity.ActorChoose" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>