<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djylrz.xzpt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/done"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityStudent.ResumeModelHistoryActivity"></activity>
        <activity android:name=".activityStudent.BasicResumeActivity" />
        <activity android:name=".activityCompany.ComResumeDeliveryRecordDetailActivity" />
        <activity android:name=".activityCompany.ComRecruitmentDetailActivity" />
        <activity android:name=".activityStudent.SelectTagActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activityStudent.ResumeModelDetailsActivity" />
        <activity android:name=".activityCompany.AddRecruitmentActivity" />
        <activity android:name=".activityStudent.ResetPasswordActivity" />
        <activity android:name=".activityStudent.ForgetPasswordActivity" />
        <activity android:name=".activityStudent.EditPracticeActivity" />
        <activity android:name=".activityStudent.EditProjectActivity" />
        <activity android:name=".activityStudent.EditAwardsActivity" />
        <activity android:name=".activityCompany.Main2Activity" />
        <activity android:name=".activityStudent.FocusCompanyActivity" />
        <activity android:name=".activityStudent.NewResumeActivity" />
        <activity android:name=".activityStudent.MyResumeActivity" />
        <activity android:name=".activityStudent.FeedbackAndSuggestion" />
        <activity android:name=".activityStudent.MyFeedback" />
        <activity android:name=".activityStudent.HelpAndFeedbackActivity" />
        <activity android:name=".activityStudent.UserInfoOptionActivity" />
        <activity android:name=".activityStudent.StudentLogin" />
        <activity android:name=".activityStudent.Register" />
        <activity android:name=".activityStudent.PersonalInformation" />
        <activity android:name=".activityStudent.JobIntention" />
        <activity android:name=".activityCompany.CompanyLogin" />
        <activity android:name=".activityStudent.RecruitmentDetailActivity" />
        <activity android:name=".activity.ActorChoose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activityStudent.MainActivity" />
    </application>

</manifest>